In [2]:
import pandas as pd 
import numpy as np
import pickle 
import time
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn import metrics

C:\Users\mARVIN\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [3]:
regressor = pickle.load(open('RF.sav','rb'))

In [4]:
pred = pd.read_csv('input_data_pred.csv')

In [5]:
pred.head()

,location,product,date,temp_mean,temp_max,temp_min,sunshine_quant,event,price
0,1193,1,2013-07-01,13.905,16.27,11.54,456.0,NaN,1.5
1,1193,1,2013-07-02,13.025,14.94,11.11,347.0,NaN,1.5
2,1193,1,2013-07-03,14.390,15.94,12.84,297.0,NaN,1.5
3,1193,1,2013-07-04,15.015,17.52,12.51,385.0,NaN,1.5
4,1193,1,2013-07-05,16.890,21.81,11.97,622.0,NaN,1.5

In [7]:
pred = pred.drop(['temp_max','temp_min','event'],axis=1)

In [8]:
pred.head()

   location  product        date  temp_mean  sunshine_quant  price
0      1193        1  2013-07-01     13.905           456.0    1.5
1      1193        1  2013-07-02     13.025           347.0    1.5
2      1193        1  2013-07-03     14.390           297.0    1.5
3      1193        1  2013-07-04     15.015           385.0    1.5
4      1193        1  2013-07-05     16.890           622.0    1.5

In [10]:
pred[['Year','Month','Day']] = pred.date.str.split(expand=True,pat='-')
pred['Year'] = pred['Year'].astype(float)
pred['Month'] = pred['Month'].astype(float)
pred['Day'] = pred['Day'].astype(float)

In [12]:
pred.head()

   location  product  temp_mean  sunshine_quant  price    Year  Month  Day
0      1193        1     13.905           456.0    1.5  2013.0    7.0  1.0
1      1193        1     13.025           347.0    1.5  2013.0    7.0  2.0
2      1193        1     14.390           297.0    1.5  2013.0    7.0  3.0
3      1193        1     15.015           385.0    1.5  2013.0    7.0  4.0
4      1193        1     16.890           622.0    1.5  2013.0    7.0  5.0

In [24]:
if(pred['temp_mean'].isnull().values.any()):
    pred['temp_mean'] = pred['temp_mean'].fillna(value=pred['temp_mean'].mean())

if(pred['sunshine_quant'].isnull().values.any()):
    pred['sunshine_quant'] = pred['sunshine_quant'].fillna(value=pred['sunshine_quant'].mean())

if(pred['price'].isnull().values.any()):
    pred['price'] = pred['price'].fillna(value=0)

In [28]:
X = pred.iloc[:,:8].values

In [29]:
X

array([[1.1930e+03, 1.0000e+00, 1.3905e+01, ..., 2.0130e+03, 7.0000e+00,
        1.0000e+00],
       [1.1930e+03, 1.0000e+00, 1.3025e+01, ..., 2.0130e+03, 7.0000e+00,
        2.0000e+00],
       [1.1930e+03, 1.0000e+00, 1.4390e+01, ..., 2.0130e+03, 7.0000e+00,
        3.0000e+00],
       ...,
       [9.7000e+01, 3.6900e+02, 1.4415e+01, ..., 2.0130e+03, 9.0000e+00,
        2.8000e+01],
       [9.7000e+01, 3.6900e+02, 1.4665e+01, ..., 2.0130e+03, 9.0000e+00,
        2.9000e+01],
       [9.7000e+01, 3.6900e+02, 1.4390e+01, ..., 2.0130e+03, 9.0000e+00,
        3.0000e+01]])

In [30]:
y_pred = regressor.predict(X)

In [31]:
y_pred

array([2.65, 2.65, 2.55, ..., 7.  , 9.4 , 9.4 ])

In [32]:
pred['sa_quantity'] = y_pred

In [33]:
pred.head()

,location,product,temp_mean,sunshine_quant,price,Year,Month,Day,sa_quantity
0,1193,1,13.905,456.0,1.5,2013.0,7.0,1.0,2.65
1,1193,1,13.025,347.0,1.5,2013.0,7.0,2.0,2.65
2,1193,1,14.390,297.0,1.5,2013.0,7.0,3.0,2.55
3,1193,1,15.015,385.0,1.5,2013.0,7.0,4.0,2.10
4,1193,1,16.890,622.0,1.5,2013.0,7.0,5.0,2.60

In [34]:
import csv
pred.to_csv('Final_pred.csv')